<h2>{{ name }}</h2>
<ul>
  <li>Alter: {{ age date }} </li>
  <li><a href="{{wiki}}" title="Wikipedia Article of {{ name }}"> Wikipedia </a></li>
</ul>
<p> {{ bio }} </p>
<img src="{{pic}}" alt="Avatar von {{ name }}">
